<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!-- .NET Framework 4.7.2 WinForms high-DPI support. -->
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
	</System.Windows.Forms.ApplicationConfigurationSection>

	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Windows.Forms.DoNotSupportDpiChanges=false;Switch.System.Windows.Forms.EnableWindowsFormsHighDpiAutoResizing=true" />
	</runtime>

	<connectionStrings>
		<add name="GameHubDB"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GameHubDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>